*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}
body{background: #ddd;}
.menu{
	background-color: #fff;
	opacity: 0.8;
	width: 75%;
	height: 65px;
	border-radius: 10px;
	margin-left: 10%;
}
.menu a {
	float: right;
	margin: 10px 20px 10px 5px;
	padding-top: 15px;
	text-decoration: none;
	font-size: 11pt;
	font-weight: bold;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

.name{
	float: left !important;
	margin: 15px 10px 10px 20px !important;
	font-size: 20pt !important;
	font-family: 'Indie Flower', Arial, Helvetica, sans-serif !important;
	padding-top: 0 !important;
}
.content{
	background-color: #fff;
	opacity: 0.8;
	width: 75%;
	height: 500px;
	border-radius: 10px;
	margin-left: 10%;
	margin-top: 25px;
	box-shadow: #000 5px 5px 20px;
}


.content p {
	padding: 50px 20px 20px 20px;
	font-style: italic;
	font-size: 13pt;
}
.content table{
	font-style: italic;
	font-size: 13pt;	
}
.content img{
	width: 140px;
	float: right;
	margin: 40px 30px 0 7px;
	border-radius: 20px;
}

.content address {
	text-align: center;
	padding-top: 150px;
}
.social-media{
	text-align: center;
	padding-top: 20px;
}
.social-media a img{
	float: inherit;
	width: 50px;
	height: 50px;
	margin: 10px 0 0 0;
}

#selected{
	background-color: #06aaae;
	color: #fff;
	border-radius: 10px;
	width: 120px;
	height: 50px;
	text-align: center;
	padding-top: 15px;
}

@media screen and (max-width: 700px)  {
	.content p {
		font-size: 12pt;
	}
	.content table {
		font-size: 12pt;
	}
	.content img{
		width: 130px;
	}
	#selected{
		width: 80px;
	}
	.menu a {
		font-size: 10pt;
		margin: 10px 10px 10px 5px;
	}
}

@media screen and (max-width: 610px)  {
	.content p {
		font-size: 10pt;
	}
	.content table{
		font-size: 10pt;
	}
	.content img{
		width: 110px;
	}
	.name{
		font-size: 17pt !important;
	}
	.menu a {
		font-size: 9pt;
		margin: 10px 10px 10px 5px;
	}
	#selected{
		width: 70px;
	}
}
@media screen and (max-width: 500px)  {
	.content p {
		font-size: 9pt;
	}
	.content table {
		font-size: 9pt;
	}
	.content img{
		width: 100px;
	}
	.name{
		font-size: 16pt !important;
		margin: 15px 5px 10px 10px !important;
	}
	.menu a {
		font-size: 7pt;
		margin: 12px 5px 10px 5px;
	}
	#selected{
		width: 50px;
		height: 20px;
		padding-top: 14px;
	}
}
