*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

.container{
	float: left;
	width: 100%;
	height: 2870px;
}
.main-page{
	background: url(../img/bg-blue.png) top center;
	width: 100%;
	height: 735px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
}

.main-page .wrap .navbar{
	width: 100%;
	height: 75px;
	box-shadow : 0px 1px 0 rgba(255, 255, 255, 0.2);
	position: fixed;
	background: url(../img/bg-blue.png) top center;
	z-index: 1000;
	text-align: center;
}
.nb-left{
	float: left;
	width: 25%;
	height: 75px;
	text-align: left;
}
.nb-left h1{
	color: #fff;
	padding: 15px 0 10px 10px;
}

.nb-center{
	float: left;
	width: 50%;
	height: 75px;
	padding: 15px 0 10px 0;
	text-align: center;
}

.main-page .wrap .navbar .nb-center ul{
	list-style: none;
	position: relative;
	top: 10px;
	display: inline-block;
}

.main-page .wrap .navbar .nb-center ul li{
	float: left;
	margin: 0 20px 0 20px;

}

.main-page .wrap .navbar .nb-center ul li:hover{
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.main-page .wrap .navbar a{
	text-decoration: none;
	color: #fff;
}

.main-page .wrap .navbar .nb-right {
	margin: 0 auto;
	width: 25%;
	height: 75px;
	float: right;
}
.main-page .wrap .navbar .nb-right a{
	float: right;
	position: relative;
	top: 20px;
	margin: 0 15px 0 15px;
}


.main-page .wrap{
	float: left;
	width: 100%;
	margin: 0 auto;
}

.main-page .wrap .content{
	width: 100%;
	height: 660px;
	margin: 0 auto;
}
.main-page .wrap .content .badge-wrap{
	float: left;
	width: 100%;
	height: 450px;
}
.main-page .wrap .content .badge-wrap img.badge{
	float: left; 
	top: 150px;
	position: relative;
	left: 40%;
}

.main-page .wrap .content .title-wrap{
	float: left;
	width: 100%;
	height: 75px;
	position: relative;
	text-align: center;
}

.main-page .wrap .content .title-wrap h1{
	color: #18aade;
	padding: 10px;
	width: 400px;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	display: inline-block;
}

.about-me{
	background: url(../img/bg-gray.png) top center;
	width: 100%;
	height: 750px;
	margin: 0 auto;
	font-size: 18px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
	text-align: center;
}
.about-me .aboutme-title{
	position: relative;
	top: 100px;
}
.about-me h1, .contact h1{
	color: #13698c;
	font-size: 50px;
}

.about-me .about-me-content{
	float: left;
	margin-top: 90px;
	text-align: inherit;
	padding: 15px;
	line-height: 1.8;
	color: #13698c;
}

.about-me .about-me-content p{
	text-align: left;
	width: 100%;
	padding: 0 20px 0 20px;
}
.about-me .about-me-content span{
	float: right;
	font-weight: bold;
	font-style: italic;
	padding: 0px;
	margin: 25px 50px;
}
.projects{
	background: url(../img/bg-blue.png) top center;
	width: 100%;
	height: 750px;
	margin: 0 auto;
	font-size: 18px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
}
.projects h1{
	float: left;
	color: #fff;
	font-size: 50px;
	position: relative;
	top: 90px;
	left: 39%;
}
.contact{
	background: url(../img/bg-gray.png) top center;
	width: 100%;
	height: 750px;
	margin: 0 auto;
	font-size: 25px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
	color: #13698c;
}
.contact .contact-title{
	 float: left;
	 width: 100%;
	 position: relative;
	 top: 100px;
	 text-align: center;
}

.contact div.info{
	float: left;
	width: 100%;
	margin-top: 200px;
}
.contact div.social-media{
	float: left;
	width: 100%;
	margin-top: 100px;
	text-align: center;
}
.contact div.social-media a{
	margin: 0 15px 0 15px;
}
.contact p {
	text-align: center;
}