/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container{
	float: left;
	width: 100%;
}
div.container h1 {margin: 0;}
div.container p {margin: 0; padding: 0 !important;}

.main-page{
	background: url(../img/bg-blue.png) top center;
	float: left;
	width: 100%;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
}

.main-page .wrap .navbar{
	width: 100%;
	height: 75px;
	box-shadow : 0px 1px 0 rgba(255, 255, 255, 0.2);
	position: fixed;
	background: url(../img/bg-blue.png) top center;
	z-index: 1000;
	text-align: center;
}
.nb-left{
	float: left;
	width: 25%;
	height: 75px;
	text-align: left;
}
.nb-left h1{
	color: #fff;
	padding: 15px 0 10px 10px;
}

.nb-center{
	float: left;
	width: 50%;
	height: 75px;
	text-align: center;
}

.nb-center .mobil-icon{
	display: none;
}

.main-page .wrap .navbar .nb-center ul{
	list-style: none;
	position: relative;
	top: 10px;
	display: inline-block;
}

.main-page .wrap .navbar .nb-center ul li{
	float: left;
	margin: 0 20px 0 20px;

}

.main-page .wrap .navbar .nb-center ul li:hover{
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.main-page .wrap .navbar a{
	text-decoration: none;
	color: #fff;
}

.main-page .wrap .navbar .nb-right {
	margin: 0 auto;
	width: 25%;
	height: 75px;
	float: right;
}
.main-page .wrap .navbar .nb-right a{
	float: right;
	position: relative;
	top: 20px;
	margin: 0 15px 0 15px;
}


.main-page .wrap{
	float: left;
	width: 100%;
	margin: 0 auto;
}

.main-page .wrap .content{
	width: 100%;
	height: 660px;
	margin: 0 auto;
}
.main-page .wrap .content .badge-wrap{
	float: left;
	width: 100%;
	height: 450px;
	text-align: center;
}
.main-page .wrap .content .badge-wrap img.badge{
	position: relative;
	top: 150px;
}

.main-page .wrap .content .title-wrap{
	float: left;
	width: 100%;
	height: 75px;
	position: relative;
	text-align: center;
}

.main-page .wrap .content .title-wrap h1{
	color: #18aade;
	width: 100%;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	display: inline-block;
}

.about-me{
	background: url(../img/bg-gray.png) top center;
	float: left;
	width: 100%;
	margin: 0 auto;
	font-size: 18px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
	text-align: center;
}
.about-me .aboutme-title{
	position: relative;
	top: 100px;
}
.about-me h1, .contact h1{
	color: #13698c;
	font-size: 50px;
}

.about-me .about-me-content{
	float: left;
	margin-top: 90px;
	text-align: inherit;
	padding: 15px;
	line-height: 1.8;
	color: #13698c;
}

.about-me .about-me-content p{
	text-align: left;
	width: 100%;
	padding: 0 20px 0 20px;
}
.about-me .about-me-content span{
	float: right;
	font-weight: bold;
	font-style: italic;
	padding: 0px;
	margin: 25px 50px;
}
.projects{
	float: left;
	background: url(../img/bg-blue.png) top center;
	width: 100%;
	height: 750px;
	margin: 0 auto;
	font-size: 18px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
}
.projects .project-title{
	width: 100%;
	text-align: center;
	position: relative;
	top: 100px;
}
.projects h1{
	color: #fff;
	font-size: 50px;
}
.contact{
	float: left;
	background: url(../img/bg-gray.png) top center;
	width: 100%;
	margin: 0 auto;
	font-size: 25px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
	color: #13698c;
}
.contact .contact-title{
	 float: left;
	 width: 100%;
	 position: relative;
	 top: 100px;
	 text-align: center;
}

.contact div.info{
	float: left;
	width: 100%;
	margin-top: 200px;
}
.contact div.social-media{
	float: left;
	width: 100%;
	margin-top: 100px;
	text-align: center;
}
.contact div.social-media a{
	margin: 0 15px 0 15px;
}
.contact p {
	text-align: center;
}
.contact h5{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 11px;
	margin: 0 0 10px 0;
}
.contact h5.design{
	margin-top: 70px;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 321px){
	.nb-left{width: 75%; font-size: 15px;}
	.nb-center {
		width: 22%;
		padding: 5px 5px 10px 0;
	}
	.nb-center ul {display: none !important;}
	.nb-right {display: none;}
    .nb-center .mobil-icon{
    	float: right;
    	width: 64px;
    	display: block;
    }
    div.about-me .about-me-content p {
    	text-align: center;
    	padding: 0 10px 0 5px;
    	font-size: 16px;
    	letter-spacing: 1.2px;
    }
    div.container h1 {font-size: 30px;}
    div.about-me .about-me-content span {float: none;}
    div.contact {font-size: 18px;}
    div.contact .contact-title {top: 50px}
    div.contact div.social-media {margin-top: 50px;}
    div.contact div.social-media a {margin:0;}
    div.contact div.social-media a img{width: 30%;}
    div.contact div.info {margin-top: 100px;}

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
















