body{
	font-family: 'Telefon Black', 'Century Gothic', CenturyGothic, AppleGothic, Arial;
	font-size: 14px;
	::-webkit-input-placeholder {color: #B3B2B2; opacity: 1px; font-weight: 400;}
	:-moz-placeholder {color: #B3B2B2; opacity: 1px; font-weight: 400;}
	::-moz-placeholder {color: #B3B2B2; opacity: 1px; font-weight: 400;}
	:-ms-input-placeholder {color: #B3B2B2; opacity: 1px; font-weight: 400;}
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.clear{
	content: ' ';	
	display: block;
	width: 100%;
	height: 0;
	clear: both;
	overflow: hidden;
}

.hoverColor(@color){
	&:hover,&:active,&:focus{
		color: @color;
	}
	transition:0.3s all ease;
	-webkit-transition::0.3s all ease;
	-ms-transition: 0.3s all ease;
}

.hoverBgColor(@color){
	&:hover,&:active,&:focus{
		background-color: @color;
	}
	transition:0.3s all ease;
	-webkit-transition::0.3s all ease;
	-ms-transition: 0.3s all ease;
}

.wrapper{
	width: 980px;
	height: 100%;
	margin: 0 auto;
}

.select2-results__option{
	color: #B3B2B2;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

.notice-count{
	.select2-container{
		width: 60px !important;
	}
}

header{
	width: 100%;
	height: 185px;
	background-color: #bec1ba;
	.wrapper{
		background-color: #fff;
		position: relative;
	}
}

.header-links{
	width: 250px;
	height: 90px;
	position: absolute;
	right: 20px;
	top: 0;
	padding-top: 20px;
	box-sizing:border-box;
	.social{
		width: 130px;
		position: absolute;
		right: 0;
		top: 12px;
	}
	.contact{
		position: absolute;
		top: 60px;
		right: 10px;
		a{
			color: #4d585a;
			font-size: 15px;
			font-family: Arial, Helvetica, sans-serif;
		}
		a:after{
			content: '|';
		    padding-left: 5px;
		    padding-right: 5px;
		    color: #4d585a;
		}
		a:nth-last-of-type(1):after{
			display: none;
		}
	}
}

.social{
	a{
		width: 40px;
		height: 40px;
		display: inline-block;
		position: relative;
		&:hover,&:active,&:focus{
			i{
				color: #351445;
				transition:0.3s all ease;
				-webkit-transition::0.3s all ease;
				-ms-transition: 0.3s all ease;
			}
		}
	}
	i{
		color: #939a8f;
		font-size: 26px;
		position: absolute;
		top: 8px;
		left: 8px;
		display: block;
	}
}
.logo{
	width: 125px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 55px;
}

.main-nav{
	background-color: #fff;
	width: 100%;
	position: absolute;
	left:0;
	bottom: 30px;
	ul{
		width: 940px;
		margin: 0 auto;
	}
	li{
		float: left;
		width: 130px;
		height: 60px;
		text-align: center;
		margin-right: 4px;
		.jobs{
			padding-top: 15px;
		}
		&:hover,&:active,&:focus{
			opacity:0.8;
		}
	}
	a{
		width: 130px;
		height: 60px;
		color: #fff;
		display: inline-block;
		padding: 23px 10px;
		line-height: 18px;
		box-sizing:border-box;
	}

	li:nth-of-type(1){
		background: url(../img/nav-1.jpg) no-repeat 50% /cover;
	}
	li:nth-of-type(2){
		background: url(../img/nav-2.jpg) no-repeat 50% /cover;
	}
	li:nth-of-type(3){
		background: url(../img/nav-3.jpg) no-repeat 50% /cover;
	}
	li:nth-of-type(4){
		background: url(../img/nav-4.jpg) no-repeat 50% /cover;
	}
	li:nth-of-type(5){
		background: url(../img/nav-5.jpg) no-repeat 50% /cover;
	}
	li:nth-of-type(6){
		background-color: #552775;
		.hoverBgColor(#ea764b);
	}
	li:nth-of-type(7){
		background-color: #4E9D2D;	
	}

	li:nth-last-of-type(1){
		margin-right: 0;
	}

	&:after{
		.clear;
	}
}

footer{
	.wrapper{
		&:after{
			.clear;
		}
	}
}


.brandsAndLinksPlace{
	height: 55px;
	border-top: 3px solid #828a7f;
	box-sizing:border-box;
	.brands{
		float: left;
		width: 310px;
		height: 100%;
	}
	.brand-logo{
		margin-right: 25px;
	}
	.brand-logo:nth-of-type(1){
		margin-left: 20px;
	}

	.links{
		float: left;
		width: 575px;
		height: 100%;
		padding-top: 10px;
		box-sizing:border-box;
		li{
			float: left;
			width: 33%;
			height: 100%;
			a{
				display: inline-block;
				width: 100%;
				margin-bottom: 2px;
				font-weight: 100;
				font-size: 13px;
			}
		}
		&:after{
			.clear;
		}
		li:nth-of-type(1){
			a{
				color: #0e7b00;
				&:hover,&:focus,&:active{
					color: fadeout(#0e7b00, 20%);
				}
			}
		}
		li:nth-of-type(2){
			a{
				color: #00236c;
				&:hover,&:focus,&:active{
					color: fadeout(#00236c, 20%);
				}
			}
		}
		li:nth-of-type(3){
			a{
				color: #43a1cd;
				&:hover,&:focus,&:active{
					color: fadeout(#43a1cd, 20%);
				}
			}
		}
	}
}
.footer-navigation{
	width: 100%;
	height: 210px;
	background: url(../img/footer-bg.png) no-repeat 50% /cover;
	.buttons{
		float: left;
		width: 290px;
		height: 100%;
		padding-top: 15px;
		box-sizing:border-box;
		margin-right: 15px;
		a{
			float: left;
			display: block;
			
			color: #fff;
		}
		a:nth-of-type(1){
			background-color: #552775;
			margin: 0 30px 0 15px;
			padding: 10px 20px 15px 20px;
		}
		a:nth-of-type(2){
			background-color: #4c9d2a;
			padding: 10px 30px 15px 30px;
		}
	}

	nav{
		padding-top: 15px;
		float: left;
		width: 670px;
		a{
			float: left;
			margin-left: 5px;
			color: #fff;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 18px;
			&:hover{
				text-decoration: underline;
			}
			&:after{
				content:'|';
				float: right;
				margin-left: 5px;
				color: #fff;
			}
		}
	}

	.desc{
		float: left;
	    width: 670px;
	    margin: 15px 0 20px 0;
	    padding-left: 5px;
	    box-sizing: border-box;
	    color: #fff;
	    font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		a{
			padding-left: 5px;
			color: #fff;
			text-decoration: underline;
		}
	}

	.footerSocialPlace{
	    float: left;
	    width: 670px;
	    height: 90px;
		>div{
			float: left;
			width: 50%;
		}
		&:after{
			.clear;
		}
		i{
			color: #cbcfd6;
		}
	}

	.copyright{
		color: #fff;
	    font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
	}
}

.select2-selection--single{
	border: 1px solid #ddd !important;
}

.select2-selection, .select2-selection__rendered{
	color: #B3B2B2 !important;
	font-size: 15px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	text-align: left !important;
}

.select2-results__option{
	&:hover,&:active,&:focus{
		background-color: rgba(21, 189, 195, 0.4) !important;
		color: #fff;
	}
}
.select2-results__options{
	max-height: 500px !important;
}
.list-container{
	width: 100%;
	background-color: #f4f4f1;
}

.title{
	width: 980px;
	margin: 0 auto;
	background-color: #fff;
	.page-title{
		margin: 0 20px;
	}
}

.page-title{
	width: 940px;
	padding-bottom: 25px;
	box-sizing:border-box;
	border-bottom: 2px solid #ddd;
	margin: 0 20px 20px;
	padding-left: 270px;
	color: #B9BFBA;
	font-size: 24px;
}

.list-container .wrap{
	width: 980px;
	margin: 0 auto;
	background-color: #fff;
	.form{
		padding: 0 20px;
		box-sizing:border-box;
		.tBoxWrap{
			text-align: center;
			width: 100%;
			.select2-container{
				width: 200px !important;
				height: 45px;
				.select2-selection{
					width: 100%;
					height: 100%;
					padding: 7px 5px;
					box-sizing:border-box;
					color: #B3B2B2;
					font-size: 15px;
					font-family: Arial, Helvetica, sans-serif;
					text-align: left;
				}
				.select2-selection__arrow{
					top: 10px;
				}
			}
			li{
				display: inline-block;
				height: 45px;
				margin-right: 20px;
				.list-submit{
					display: inline-block;
					height: 100%;
					padding: 15px 30px;
					box-sizing:border-box;
					background-color: #43A1CD;
					border: 1px solid #43A1CD;
					color: #fff;
					border-radius: 5px;
					position: relative;
					top: 2px;
					&:hover,&:active,&:focus{
						background-color: transparent;
						color: #43A1CD;
					}
				}
				.tBox{
					width: 100%;
					height: 100%;
					border-radius: 5px;
					border: 1px solid #ddd;
					padding: 0 20px;
					box-sizing:border-box;
					font-family: Arial, Helvetica, sans-serif;
					font-size: 14px;
					color: #000;
					font-weight: 700;
					&:focus{
						border: 2px solid #43A1CD;
					}
				}
			}
			li:nth-last-of-type(1){
				margin-right: 0;
			}
			&:after{
				.clear;
			}
		}
		.checkWrap{
			margin: 20px 0;
			.link{
				text-align: center;
				cursor: pointer;
				margin-bottom: 15px;
				a{
					width: 100%;
					display: inline-block;
					color: #B3B2B2;
					font-size: 15px;
					font-family: Arial, Helvetica, sans-serif;
					&:after{
						content: ' ';
						width: 13px;
						height: 7px;
						display: block;
						background: url(../img/sprite.png) no-repeat -33px -19px;
						margin: 10px auto 0;
					}
				}
			}
			ul{
				display: none;
				width: 100%;
				text-align: center;
				li{
					display: inline-block;
					margin-right: 20px;
					&:hover,&:active,&:focus{
						label{
							color: #43A1CD;
						}
					}
				}
				&:after{
					.clear;
				}
			}
		}
		.notice-count{
			border-bottom: 1px solid #f4f4f1;
			padding-bottom: 15px;
			p{
				color: #B3B2B2;
				font-size: 15px;
				font-family: Arial, Helvetica, sans-serif;
			}
			.info-search{
				float: left;
				line-height: 24px;
				strong{
					font-weight: 700;
				}
			}
			.select{
				float: right;
			}
			&:after{
				.clear;
			}

		}
		&:after{
			.clear;
		}
	}
	.list{
		margin: 20px 0;
		padding: 0 50px;
		box-sizing:border-box;
		> ul{
			> li{
				width: 100%;
				min-height: 50px;
				border-radius: 2px;
				&:after{
					.clear;
				}
				&:hover{
					background-color: rgba(21,189,195,0.4) !important;
				}
				div{
					float: left;
				}
				a{
					width: 100%;
					height: 100%;
					min-height: 50px;
					display: inline-block;
					&:after{
						.clear;
					}
				}
				.imgWrap{
					float: left;
					width: 60px;
					height: 60px;
					border-radius: 50%;
					overflow: hidden;
					margin: 10px;
				}
				.job-detail{
					float: left;
					width: 45%;
					padding: 25px 0 0 15px;
					box-sizing:border-box;
					.work-title{
						color: #424242;
					}
					.company{
						color: #676767;
					}
				}
			}
			> li:nth-of-type(odd){
				background-color: #f2f2f2;
			}

		}
	}
}

.tags{
	float: right;
	width: 45%;
	height: 80px;
	padding-top: 25px;
	box-sizing:border-box;
	span{
		margin-right: 20px;
		color: #a1a1a1;
		font-family: Arial, Helvetica, sans-serif;
	}
	ul{
		height: 100%;
		&:after{
			.clear;
		}
	}
	li{
		float: left;
		width: 33%;
		height: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	li:nth-last-of-type(1){
		width: auto;
		span{
			margin-right: 0;

		}
	}
	i.fa-map-marker{
		color: #13afbc;
	}
	i.fa-clock-o.full-time-icon{
		color: #81d42a;
	}
	i.fa-clock-o.part-time-icon{
		color: #f96a04;
	}
	i.fa-clock-o.freelance-icon{
		color: #7ed2f7;
	}
	i.fa-clock-o.intership-icon{
		color: #482782;
	}
	i.fa-clock-o.contract-icon{
		color: #ff0059;
	}
}

.checkWrap, .radioWrap{
	margin-top: 10px;
	input[type="checkbox"], input[type="radio"]{
		display: none;
		&:checked + label span:after{
			opacity: 1;
		}
		&:disabled + label span{
			background-color:#eee;
			border:solid 2px #e2e2e2;
		}
	}
	input[type="checkbox"] + label {
		display:inline-block;
		vertical-align:middle;
		padding-left:25px;
		position:relative;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 20px;
		color: #a1a1a1;
		min-height: 30px;
		cursor:pointer;
		span{
			display:inline-block;
			width:20px;
			height:20px;
			background-color:#fff;
			vertical-align:middle;
			cursor:pointer;
			border:solid 2px #a1a1a1;
			border-radius:2px;
			position:absolute;
			top:0;
			left:0;
			box-sizing:border-box;
			text-align: left;
			-webkit-transition: all 0.3s ease; 
			transition : all 0.3s ease;
			&:after{
				content: ' ';
				display:inline-block;
				position:absolute;
				background: url(../img/sprite.png) no-repeat -12px -14px;
				text-align:center;
				box-sizing:border-box;
				width:100%;
				height: 100%;
				vertical-align:middle;
				opacity:0;
				-webkit-transition: all 0.3s ease; 
				transition : all 0.3s ease;
			}
		}
	}
}

.pagination{
	padding: 30px 0;
	box-sizing:border-box;
	text-align: center;
	ul{
		display: inline-block;
	}
	li{
		float: left;
		min-width: 38px;
		min-height: 38px;
		margin-right: 10px;
	}
	li:nth-last-of-type(1){
		margin-right: 0;
	}
	a{
		display: block;
		padding: 5px 10px;
		font-family: 'Telefon Black';
		font-size: 26px;
		color: #424242;
		text-align: center;
		border: 1px solid #a1a1a1;
		border-radius: 3px;
	}
	&:after{
		.clear;
	}
	.dot {
		display: block;
		.middle{
			padding: 0 10px 10px 10px;
		}
	}
	.prev, .next{
		padding: 10px 16px 9px 16px;
		display: block;
		&:after{
			content: ' ';
			display: block;
			width: 9px;
			height: 17px;
		}
	}

	.prev{
		&:after{
			background: url(../img/sprite.png) no-repeat -55px -10px;
		}
		&:hover,&:focus,&:active{
			&:after{
				background: url(../img/sprite.png) no-repeat -85px -10px;
			}
		}
	}

	.next{
		&:after{
			background:url(../img/sprite.png) no-repeat -71px -10px;
		}
		&:hover,&:focus,&:active{
			&:after{
				background: url(../img/sprite.png) no-repeat -101px -10px;
			}
		}
	}

	.page-button{
		&.selected, &:hover, &:focus, &:active{
			background-color: #43a1cd;
			color: #fff;
			border: 1px solid #43a1cd;
		}
	}
}

.jobs-detail-wrapper{
	width: 100%;
	background-color: #f4f4f1;
	.wrapper{
		width: 980px;
		background-color: #fff;
		margin: 0 auto;
		padding: 30px 40px 75px 40px;
		box-sizing:border-box;
	}
	.tags{
		float: none;
		width: auto;
		height: auto;
		padding-top: 0;
		ul{
			padding-left: 0;
		}
		li{
			float: none;
			display: inline-block;
			margin-right: 10px;
			border: 1px solid #ddd;
			border-radius: 5px;
			width: auto;
			height: initial;
			padding: 5px 20px;
			box-sizing:border-box;
		}
	}
	h2{
		display: inline-block;
		font-size: 20px;
		color: #424242;
		margin: 20px 0;
		&:after{
			content: ' ';
			display: block;
			width: 15%;
			height: 5px;
			background-color: #43a1cd;
			margin-top: 5px;
		}
	}
	.job-name, .company-name{
		font-size: 28px;
	}
	h3{
		font-size: 16px;
		color: #702082;
		margin: 20px 0;
	}
	ul{
		list-style: disc;
		padding-left: 40px;
		color: #676767;
		li{
			line-height: 1.2;
			p{
				color: #000000;
			}
		}
	}
	p{
		color: #000000;
		line-height: 1.2;
		font-family: Arial, Helvetica, sans-serif;
		a{
			color: #82C1DE;
			&:hover,&:focus,&:active{
				color: #ea764b;
			}
		}
	}
	.desc{
		margin-bottom: 20px;
	}
	.apply-button{
		display: inline-block;
		color: #fff;
		background-color: #43a1cd;
		padding: 15px 30px;
		font-size: 16px;
		margin-top: 20px;
		border-radius: 5px;
		cursor: pointer;
		&:hover,&:focus,&:active{
			background-color: fadeout(#43a1cd, 20%);
		}
	}
}

.company-detail{
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	.company-logo{
		float: left;
		width: 50%;
		img{
			display: inline-block;
			float: left;
			max-width: 64px;
			height: auto;
			margin-right: 15px;
		}
		.company-name{
			float: left;
			margin: 25px 15px 25px 0;
			&:after{
				display:none;
			}
		}
		&:after{
			.clear;
		}
	}
	.web-site{
		float: right;
		width: 50%;
		height: 100%;
		text-align: right;
		padding: 25px 0;
		box-sizing:border-box;
		i{
			color: #000;
			margin-right: 5px;
		}
		a {
			font-family: Arial, Helvetica, sans-serif;
			color: #000;
			&:hover{
				color: #ea764b;
			}
		}
	}
	&:after{
		.clear;
	}
}