.character-item {
	width: 100%;
	background: rgb(60, 62, 68);
	color: #fff;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
}

.character-image-wrapper {
	display: inline-block;
	width: 40%;
}

.character-image {
	width: 100%;
}

.character-content-wrapper {
	display: inline-block;
	width: 60%;
	padding-left: 15px;
	padding-top: 15px;
}

.character-name {
	font-size: 1.5rem;
}

.character-light {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border-radius: 50%;

	&.--alive {
		background: rgb(85, 204, 68);
	}

	&.--dead {
		background: rgb(158, 158, 158);
	}

}