@import "node_modules/bootstrap-4-grid/scss/grid.scss";
@import "../fonts/font.css";

body {
	font-family: 'Roboto';
	line-height: 1.4;
	font-weight: 300;
	font-size: 16px;
}

.title {
	font-size: 18px;
	font-weight: 500;
}