body {
  font-family: 'Telefon Black', 'Century Gothic', CenturyGothic, AppleGothic, Arial;
  font-size: 14px;
}
body ::-webkit-input-placeholder {
  color: #B3B2B2;
  opacity: 1px;
  font-weight: 400;
}
body :-moz-placeholder {
  color: #B3B2B2;
  opacity: 1px;
  font-weight: 400;
}
body ::-moz-placeholder {
  color: #B3B2B2;
  opacity: 1px;
  font-weight: 400;
}
body :-ms-input-placeholder {
  color: #B3B2B2;
  opacity: 1px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.clear {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.wrapper {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
.select2-results__option {
  color: #B3B2B2;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.notice-count .select2-container {
  width: 60px !important;
}
header {
  width: 100%;
  height: 185px;
  background-color: #bec1ba;
}
header .wrapper {
  background-color: #fff;
  position: relative;
}
.header-links {
  width: 250px;
  height: 90px;
  position: absolute;
  right: 20px;
  top: 0;
  padding-top: 20px;
  box-sizing: border-box;
}
.header-links .social {
  width: 130px;
  position: absolute;
  right: 0;
  top: 12px;
}
.header-links .contact {
  position: absolute;
  top: 60px;
  right: 10px;
}
.header-links .contact a {
  color: #4d585a;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.header-links .contact a:after {
  content: '|';
  padding-left: 5px;
  padding-right: 5px;
  color: #4d585a;
}
.header-links .contact a:nth-last-of-type(1):after {
  display: none;
}
.social a {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}
.social a:hover i,
.social a:active i,
.social a:focus i {
  color: #351445;
  transition: 0.3s all ease;
  -webkit-transition: :0.3s all ease;
  -ms-transition: 0.3s all ease;
}
.social i {
  color: #939a8f;
  font-size: 26px;
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
}
.logo {
  width: 125px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 55px;
}
.main-nav {
  background-color: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 30px;
}
.main-nav ul {
  width: 940px;
  margin: 0 auto;
}
.main-nav li {
  float: left;
  width: 130px;
  height: 60px;
  text-align: center;
  margin-right: 4px;
}
.main-nav li .jobs {
  padding-top: 15px;
}
.main-nav li:hover,
.main-nav li:active,
.main-nav li:focus {
  opacity: 0.8;
}
.main-nav a {
  width: 130px;
  height: 60px;
  color: #fff;
  display: inline-block;
  padding: 23px 10px;
  line-height: 18px;
  box-sizing: border-box;
}
.main-nav li:nth-of-type(1) {
  background: url(../img/nav-1.jpg) no-repeat 50% / cover;
}
.main-nav li:nth-of-type(2) {
  background: url(../img/nav-2.jpg) no-repeat 50% / cover;
}
.main-nav li:nth-of-type(3) {
  background: url(../img/nav-3.jpg) no-repeat 50% / cover;
}
.main-nav li:nth-of-type(4) {
  background: url(../img/nav-4.jpg) no-repeat 50% / cover;
}
.main-nav li:nth-of-type(5) {
  background: url(../img/nav-5.jpg) no-repeat 50% / cover;
}
.main-nav li:nth-of-type(6) {
  background-color: #552775;
  transition: 0.3s all ease;
  -webkit-transition: :0.3s all ease;
  -ms-transition: 0.3s all ease;
}
.main-nav li:nth-of-type(6):hover,
.main-nav li:nth-of-type(6):active,
.main-nav li:nth-of-type(6):focus {
  background-color: #ea764b;
}
.main-nav li:nth-of-type(7) {
  background-color: #4E9D2D;
}
.main-nav li:nth-last-of-type(1) {
  margin-right: 0;
}
.main-nav:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
footer .wrapper:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.brandsAndLinksPlace {
  height: 55px;
  border-top: 3px solid #828a7f;
  box-sizing: border-box;
}
.brandsAndLinksPlace .brands {
  float: left;
  width: 310px;
  height: 100%;
}
.brandsAndLinksPlace .brand-logo {
  margin-right: 25px;
}
.brandsAndLinksPlace .brand-logo:nth-of-type(1) {
  margin-left: 20px;
}
.brandsAndLinksPlace .links {
  float: left;
  width: 575px;
  height: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}
.brandsAndLinksPlace .links li {
  float: left;
  width: 33%;
  height: 100%;
}
.brandsAndLinksPlace .links li a {
  display: inline-block;
  width: 100%;
  margin-bottom: 2px;
  font-weight: 100;
  font-size: 13px;
}
.brandsAndLinksPlace .links:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.brandsAndLinksPlace .links li:nth-of-type(1) a {
  color: #0e7b00;
}
.brandsAndLinksPlace .links li:nth-of-type(1) a:hover,
.brandsAndLinksPlace .links li:nth-of-type(1) a:focus,
.brandsAndLinksPlace .links li:nth-of-type(1) a:active {
  color: rgba(14, 123, 0, 0.8);
}
.brandsAndLinksPlace .links li:nth-of-type(2) a {
  color: #00236c;
}
.brandsAndLinksPlace .links li:nth-of-type(2) a:hover,
.brandsAndLinksPlace .links li:nth-of-type(2) a:focus,
.brandsAndLinksPlace .links li:nth-of-type(2) a:active {
  color: rgba(0, 35, 108, 0.8);
}
.brandsAndLinksPlace .links li:nth-of-type(3) a {
  color: #43a1cd;
}
.brandsAndLinksPlace .links li:nth-of-type(3) a:hover,
.brandsAndLinksPlace .links li:nth-of-type(3) a:focus,
.brandsAndLinksPlace .links li:nth-of-type(3) a:active {
  color: rgba(67, 161, 205, 0.8);
}
.footer-navigation {
  width: 100%;
  height: 210px;
  background: url(../img/footer-bg.png) no-repeat 50% / cover;
}
.footer-navigation .buttons {
  float: left;
  width: 290px;
  height: 100%;
  padding-top: 15px;
  box-sizing: border-box;
  margin-right: 15px;
}
.footer-navigation .buttons a {
  float: left;
  display: block;
  color: #fff;
}
.footer-navigation .buttons a:nth-of-type(1) {
  background-color: #552775;
  margin: 0 30px 0 15px;
  padding: 10px 20px 15px 20px;
}
.footer-navigation .buttons a:nth-of-type(2) {
  background-color: #4c9d2a;
  padding: 10px 30px 15px 30px;
}
.footer-navigation nav {
  padding-top: 15px;
  float: left;
  width: 670px;
}
.footer-navigation nav a {
  float: left;
  margin-left: 5px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.footer-navigation nav a:hover {
  text-decoration: underline;
}
.footer-navigation nav a:after {
  content: '|';
  float: right;
  margin-left: 5px;
  color: #fff;
}
.footer-navigation .desc {
  float: left;
  width: 670px;
  margin: 15px 0 20px 0;
  padding-left: 5px;
  box-sizing: border-box;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.footer-navigation .desc a {
  padding-left: 5px;
  color: #fff;
  text-decoration: underline;
}
.footer-navigation .footerSocialPlace {
  float: left;
  width: 670px;
  height: 90px;
}
.footer-navigation .footerSocialPlace > div {
  float: left;
  width: 50%;
}
.footer-navigation .footerSocialPlace:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.footer-navigation .footerSocialPlace i {
  color: #cbcfd6;
}
.footer-navigation .copyright {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.select2-selection--single {
  border: 1px solid #ddd !important;
}
.select2-selection,
.select2-selection__rendered {
  color: #B3B2B2 !important;
  font-size: 15px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  text-align: left !important;
}
.select2-results__option:hover,
.select2-results__option:active,
.select2-results__option:focus {
  background-color: rgba(21, 189, 195, 0.4) !important;
  color: #fff;
}
.select2-results__options {
  max-height: 500px !important;
}
.list-container {
  width: 100%;
  background-color: #f4f4f1;
}
.title {
  width: 980px;
  margin: 0 auto;
  background-color: #fff;
}
.title .page-title {
  margin: 0 20px;
}
.page-title {
  width: 940px;
  padding-bottom: 25px;
  box-sizing: border-box;
  border-bottom: 2px solid #ddd;
  margin: 0 20px 20px;
  padding-left: 270px;
  color: #B9BFBA;
  font-size: 24px;
}
.list-container .location {
  position: relative;
}
.list-container .location .sublist {
  display: none;
  position: absolute;
  background-color: #ffF;
  z-index: 9;
}
.list-container .location .sublist li {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 16px;
  width: 100%;
  text-align: left;
}
.list-container .location .sublist li a {
  display: inline-block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #B9BFBA;
}
.list-container .location .sublist li:nth-of-type(odd) {
  background-color: #f2f2f2;
}
.list-container .wrap {
  width: 980px;
  margin: 0 auto;
  background-color: #fff;
}
.list-container .wrap .form {
  padding: 0 20px;
  box-sizing: border-box;
}
.list-container .wrap .form .tBoxWrap {
  text-align: center;
  width: 100%;
}
.list-container .wrap .form .tBoxWrap .select2-container {
  width: 200px !important;
  height: 45px;
}
.list-container .wrap .form .tBoxWrap .select2-container .select2-selection {
  width: 100%;
  height: 100%;
  padding: 7px 5px;
  box-sizing: border-box;
  color: #B3B2B2;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.list-container .wrap .form .tBoxWrap .select2-container .select2-selection__arrow {
  top: 10px;
}
.list-container .wrap .form .tBoxWrap li {
  display: inline-block;
  height: 45px;
  margin-right: 20px;
}
.list-container .wrap .form .tBoxWrap li .list-submit {
  display: inline-block;
  height: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
  background-color: #43A1CD;
  border: 1px solid #43A1CD;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 2px;
}
.list-container .wrap .form .tBoxWrap li .list-submit:hover,
.list-container .wrap .form .tBoxWrap li .list-submit:active,
.list-container .wrap .form .tBoxWrap li .list-submit:focus {
  background-color: transparent;
  color: #43A1CD;
}
.list-container .wrap .form .tBoxWrap li .tBox {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
.list-container .wrap .form .tBoxWrap li .tBox:focus {
  border: 2px solid #43A1CD;
}
.list-container .wrap .form .tBoxWrap li:nth-last-of-type(1) {
  margin-right: 0;
}
.list-container .wrap .form .tBoxWrap:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.list-container .wrap .form .checkWrap {
  margin: 20px 0;
}
.list-container .wrap .form .checkWrap .link {
  text-align: center;
  cursor: pointer;
  margin-bottom: 15px;
}
.list-container .wrap .form .checkWrap .link a {
  width: 100%;
  display: inline-block;
  color: #B3B2B2;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.list-container .wrap .form .checkWrap .link a:after {
  content: ' ';
  width: 13px;
  height: 7px;
  display: block;
  background: url(../img/sprite.png) no-repeat -33px -19px;
  margin: 10px auto 0;
}
.list-container .wrap .form .checkWrap ul {
  display: none;
  width: 100%;
  text-align: center;
}
.list-container .wrap .form .checkWrap ul li {
  display: inline-block;
  margin-right: 20px;
}
.list-container .wrap .form .checkWrap ul li:hover label,
.list-container .wrap .form .checkWrap ul li:active label,
.list-container .wrap .form .checkWrap ul li:focus label {
  color: #43A1CD;
}
.list-container .wrap .form .checkWrap ul:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.list-container .wrap .form .notice-count {
  border-bottom: 1px solid #f4f4f1;
  padding-bottom: 15px;
}
.list-container .wrap .form .notice-count p {
  color: #B3B2B2;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.list-container .wrap .form .notice-count .info-search {
  float: left;
  line-height: 24px;
}
.list-container .wrap .form .notice-count .info-search strong {
  font-weight: 700;
}
.list-container .wrap .form .notice-count .select {
  float: right;
}
.list-container .wrap .form .notice-count:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.list-container .wrap .form:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.list-container .wrap .list {
  margin: 20px 0;
  padding: 0 50px;
  box-sizing: border-box;
}
.list-container .wrap .list > ul > li {
  width: 100%;
  min-height: 50px;
  border-radius: 2px;
}
.list-container .wrap .list > ul > li:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.list-container .wrap .list > ul > li:hover {
  background-color: rgba(21, 189, 195, 0.4) !important;
}
.list-container .wrap .list > ul > li div {
  float: left;
}
.list-container .wrap .list > ul > li a {
  width: 100%;
  height: 100%;
  min-height: 50px;
  display: inline-block;
}
.list-container .wrap .list > ul > li a:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.list-container .wrap .list > ul > li .imgWrap {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
}
.list-container .wrap .list > ul > li .job-detail {
  float: left;
  width: 45%;
  padding: 25px 0 0 15px;
  box-sizing: border-box;
}
.list-container .wrap .list > ul > li .job-detail .work-title {
  color: #424242;
}
.list-container .wrap .list > ul > li .job-detail .company {
  color: #676767;
}
.list-container .wrap .list > ul > li:nth-of-type(odd) {
  background-color: #f2f2f2;
}
.tags {
  float: right !important;
  width: 45%;
  height: 80px;
  padding-top: 25px;
  box-sizing: border-box;
}
.tags span {
  margin-right: 20px;
  color: #a1a1a1;
  font-family: Arial, Helvetica, sans-serif;
}
.tags ul {
  height: 100%;
}
.tags ul:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.tags li {
  float: left;
  width: 33%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tags li:nth-last-of-type(1) {
  width: auto;
}
.tags li:nth-last-of-type(1) span {
  margin-right: 0;
}
.tags i.fa-map-marker {
  color: #13afbc;
}
.tags i.fa-clock-o.full-time-icon {
  color: #81d42a;
}
.tags i.fa-clock-o.part-time-icon {
  color: #f96a04;
}
.tags i.fa-clock-o.freelance-icon {
  color: #7ed2f7;
}
.tags i.fa-clock-o.intership-icon {
  color: #482782;
}
.tags i.fa-clock-o.contract-icon {
  color: #ff0059;
}
.checkWrap,
.radioWrap {
  margin-top: 10px;
}
.checkWrap input[type="checkbox"],
.radioWrap input[type="checkbox"],
.checkWrap input[type="radio"],
.radioWrap input[type="radio"] {
  display: none;
}
.checkWrap input[type="checkbox"]:checked + label span:after,
.radioWrap input[type="checkbox"]:checked + label span:after,
.checkWrap input[type="radio"]:checked + label span:after,
.radioWrap input[type="radio"]:checked + label span:after {
  opacity: 1;
}
.checkWrap input[type="checkbox"]:disabled + label span,
.radioWrap input[type="checkbox"]:disabled + label span,
.checkWrap input[type="radio"]:disabled + label span,
.radioWrap input[type="radio"]:disabled + label span {
  background-color: #eee;
  border: solid 2px #e2e2e2;
}
.checkWrap input[type="checkbox"] + label,
.radioWrap input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  padding-left: 25px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #a1a1a1;
  min-height: 30px;
  cursor: pointer;
}
.checkWrap input[type="checkbox"] + label span,
.radioWrap input[type="checkbox"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  vertical-align: middle;
  cursor: pointer;
  border: solid 2px #a1a1a1;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  text-align: left;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.checkWrap input[type="checkbox"] + label span:after,
.radioWrap input[type="checkbox"] + label span:after {
  content: ' ';
  display: inline-block;
  position: absolute;
  background: url(../img/sprite.png) no-repeat -12px -14px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pagination {
  padding: 30px 0;
  box-sizing: border-box;
  text-align: center;
}
.pagination ul {
  display: inline-block;
}
.pagination li {
  float: left;
  min-width: 38px;
  min-height: 38px;
  margin-right: 10px;
}
.pagination li:nth-last-of-type(1) {
  margin-right: 0;
}
.pagination a {
  display: block;
  padding: 5px 10px;
  font-family: 'Telefon Black';
  font-size: 26px;
  color: #424242;
  text-align: center;
  border: 1px solid #a1a1a1;
  border-radius: 3px;
}
.pagination:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.pagination .dot {
  display: block;
}
.pagination .dot .middle {
  padding: 0 10px 10px 10px;
}
.pagination .prev,
.pagination .next {
  padding: 10px 16px 9px 16px;
  display: block;
}
.pagination .prev:after,
.pagination .next:after {
  content: ' ';
  display: block;
  width: 9px;
  height: 17px;
}
.pagination .prev:after {
  background: url(../img/sprite.png) no-repeat -55px -10px;
}
.pagination .prev:hover:after,
.pagination .prev:focus:after,
.pagination .prev:active:after {
  background: url(../img/sprite.png) no-repeat -85px -10px;
}
.pagination .next:after {
  background: url(../img/sprite.png) no-repeat -71px -10px;
}
.pagination .next:hover:after,
.pagination .next:focus:after,
.pagination .next:active:after {
  background: url(../img/sprite.png) no-repeat -101px -10px;
}
.pagination .page-button.selected,
.pagination .page-button:hover,
.pagination .page-button:focus,
.pagination .page-button:active {
  background-color: #43a1cd;
  color: #fff;
  border: 1px solid #43a1cd;
}
.jobs-detail-wrapper {
  width: 100%;
  background-color: #f4f4f1;
}
.jobs-detail-wrapper .wrapper {
  width: 980px;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px 40px 75px 40px;
  box-sizing: border-box;
}
.jobs-detail-wrapper .tags {
  float: none;
  width: auto;
  height: auto;
  padding-top: 0;
}
.jobs-detail-wrapper .tags ul {
  padding-left: 0;
}
.jobs-detail-wrapper .tags li {
  float: none;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: auto;
  height: initial;
  padding: 5px 20px;
  box-sizing: border-box;
}
.jobs-detail-wrapper h2 {
  display: inline-block;
  font-size: 20px;
  color: #424242;
  margin: 20px 0;
}
.jobs-detail-wrapper h2:after {
  content: ' ';
  display: block;
  width: 15%;
  height: 5px;
  background-color: #43a1cd;
  margin-top: 5px;
}
.jobs-detail-wrapper .job-name,
.jobs-detail-wrapper .company-name {
  font-size: 28px;
}
.jobs-detail-wrapper h3 {
  font-size: 16px;
  color: #702082;
  margin: 20px 0;
}
.jobs-detail-wrapper ul {
  list-style: disc;
  padding-left: 40px;
  color: #676767;
}
.jobs-detail-wrapper ul li {
  line-height: 1.2;
}
.jobs-detail-wrapper ul li p {
  color: #000000;
}
.jobs-detail-wrapper p {
  color: #000000;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}
.jobs-detail-wrapper p a {
  color: #82C1DE;
}
.jobs-detail-wrapper p a:hover,
.jobs-detail-wrapper p a:focus,
.jobs-detail-wrapper p a:active {
  color: #ea764b;
}
.jobs-detail-wrapper .desc {
  margin-bottom: 20px;
}
.jobs-detail-wrapper .apply-button {
  display: inline-block;
  color: #fff;
  background-color: #43a1cd;
  padding: 15px 30px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.jobs-detail-wrapper .apply-button:hover,
.jobs-detail-wrapper .apply-button:focus,
.jobs-detail-wrapper .apply-button:active {
  background-color: rgba(67, 161, 205, 0.8);
}
.company-detail {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.company-detail .company-logo {
  float: left;
  width: 50%;
}
.company-detail .company-logo img {
  display: inline-block;
  float: left;
  max-width: 64px;
  height: auto;
  margin-right: 15px;
}
.company-detail .company-logo .company-name {
  float: left;
  margin: 25px 15px 25px 0;
}
.company-detail .company-logo .company-name:after {
  display: none;
}
.company-detail .company-logo:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.company-detail .web-site {
  float: right;
  width: 50%;
  height: 100%;
  text-align: right;
  padding: 25px 0;
  box-sizing: border-box;
}
.company-detail .web-site i {
  color: #000;
  margin-right: 5px;
}
.company-detail .web-site a {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
.company-detail .web-site a:hover {
  color: #ea764b;
}
.company-detail:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.login {
  padding-bottom: 30px;
}
.login .login-desc p {
  width: 640px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
}
.login .form {
  width: 300px;
  margin: 50px auto 20px;
}
.login .form ul:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.login .form ul li {
  float: left;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  position: relative;
}
.login .form ul li input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 0 none;
  border: 1px solid #ddd;
  padding: 5px 20px 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #7f9ec2;
  font-weight: 700;
}
.login .form ul li span {
  display: none;
  position: absolute;
  top: 3px;
  left: 20px;
  color: #a1a1a1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.login .form ul .login-submit {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
  background-color: #43A1CD;
  border: 1px solid #43A1CD;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.login .form ul .login-submit:hover,
.login .form ul .login-submit:active,
.login .form ul .login-submit:focus {
  background-color: transparent;
  color: #43A1CD;
}
.login .form ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}
.login .form ul .forgot-password {
  height: auto;
}
.login .form ul .forgot-password a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: underline;
}
.login .form ul .error {
  margin: 2px 0 5px 0 ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: red;
  padding: 0 5px;
  display: inline-block;
}
.login .form ul .chaptcha:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}
.login .form ul .chaptcha img {
  float: left;
  width: 50%;
  height: 100%;
}
.login .form ul .chaptcha input {
  float: left;
  width: 50%;
}
.fa-bars {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 42px;
}
@media only screen and (max-width: 321px) {
  header {
    height: 75px;
  }
  header .wrapper {
    width: 100%;
  }
  header .logo {
    left: 10px;
  }
  header .header-links {
    display: none;
  }
  .list-container .wrap {
    width: 100%;
  }
  .list-container .wrap .list {
    padding: 0 10px;
  }
  .list-container .wrap .list > ul > li .job-detail {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .list-container .wrap .list > ul > li .imgWrap {
    float: none;
    margin: 10px auto;
  }
  .list-container .wrap .list .tags {
    width: 100%;
    height: auto;
  }
  .list-container .wrap .list .tags li {
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
  }
  .list-container .wrap .list .tags span {
    margin: 0;
  }
  .list-container .wrap .form {
    padding: 0 10px;
  }
  .list-container .wrap .form .tBoxWrap li {
    width: 100%;
    margin: 10px 0;
  }
  .list-container .wrap .form .tBoxWrap li:nth-of-type(3) {
    float: left;
    width: 50%;
  }
  .list-container .wrap .form .tBoxWrap li:nth-of-type(3) .select2-container {
    width: 100% !important;
  }
  .list-container .wrap .form .tBoxWrap li:nth-of-type(4) {
    float: left;
    width: 50%;
  }
  .list-container .wrap .form .tBoxWrap li:nth-of-type(4) a {
    float: right;
    padding: 0 50px;
    top: 0;
    line-height: 43px;
  }
  .list-container .wrap .form .checkWrap ul li {
    float: left;
    width: 33%;
    margin: 0;
    text-align: left;
  }
  .list-container .wrap .form .notice-count p {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .page-title {
    width: 300px;
    padding: 10px 0;
    margin: 0 10px 20px 10px;
    text-align: center;
  }
  .pagination li a {
    display: none;
  }
  .pagination .dot {
    display: none;
  }
}
