@import 'bootstrap/bootstrap-grid.min.css';
@import 'bootstrap/bootstrap-reboot.min.css';
@import 'bootstrap/bootstrap.min.css';
@import '../fonts/css/all.min.css';


body {
	background-image: url('../img/background.jpg');
	background-size: cover;
	font-family: 'Noto Sans', sans-serif;
}

body:after{
	content: ' ';
	display: block;
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.4; 
	z-index: -1;
}

.content {
	margin: 0 auto;
	min-height: 100vh;
}

.avatar {
	width: 144px;
	height: 144px;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #fff;
	margin-bottom: 35px;
}

.social {
	margin-top: 20px;
}

.social-icon {
	font-size: 32px;
	color: #fff !important;
	text-decoration: none !important;
	display: inline-block;
	margin: 0 10px;
}