/*
Author : Eray Soysal
Project Date : Aralık 2016
************************************************/
/*Reset*/
*:focus {
  outline: 0 none;
}
html {
  height: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}
.blue {
  color: #00aeef;
}
.gray {
  color: #4f4f4f;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Merriweather Sans', Arial, helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #4f4f4f;
  background: url(../img/bg.png) top / cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
@media only screen and (max-width: 1417px) {
  body {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1297px) {
  body {
    font-size: 16px;
  }
}
iframe {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
}
p strong {
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
  padding: 0;
}
button {
  margin: 0;
  padding: 0;
  color: inherit;
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
}
button:focus {
  outline: 0;
}
table {
  margin: 0;
  padding: 0;
}
strong {
  font-weight: 400;
}
sup {
  position: relative;
  top: -0.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
  border: 0;
}
footer {
  display: block;
  position: relative;
}
select {
  box-sizing: border-box;
}
main {
  display: block;
  position: relative;
}
.no-transform {
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
}
.tac {
  text-align: center;
}
.full {
  width: 100% !important;
}
/** Helpers **/
.left {
  float: left;
}
.right {
  float: right;
}
.clear:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.clear-left {
  clear: left;
}
.horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.total-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.transform-none {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.no-transform {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
/** Media Query **/
.logo {
  display: inline-block;
}
.logo img {
  width: 324px;
  height: 84px;
}
.title {
  font-weight: 800;
  display: inline-block;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 6.3%;
}
.section {
  position: relative;
  width: 100%;
  height: 100vh;
}
.section-wrapper {
  width: 58%;
  min-height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 2% 0;
  box-sizing: border-box;
}
.section-wrapper:before {
  content: ' ';
  display: block;
  width: 80%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border: 10px solid #00aeef;
  z-index: -1;
}
.section-wrapper p {
  display: inline-block;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
}
.section-wrapper .text {
  width: 70%;
}
.section-wrapper .img {
  width: 30%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 20px solid #fff;
  background: #fff;
  padding-bottom: 29.2%;
}
.section-wrapper .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.section-wrapper.left-side-text {
  text-align: left;
}
.section-wrapper.left-side-text > div {
  float: left;
}
.section-wrapper.left-side-text .img {
  right: 0;
}
.section-wrapper.right-side-text {
  text-align: right;
}
.section-wrapper.right-side-text > div {
  float: right;
}
.section-wrapper.right-side-text .img {
  left: 0;
}
.section-wrapper .nbg p,
.section-wrapper .nbg .title {
  background: none;
}
.head {
  width: 100%;
}
.head .section-wrapper {
  padding-top: 15px;
  padding-bottom: 8%;
}
.head img {
  width: 28.875%;
  margin: 0 auto;
}
.head .content {
  background: #fff;
}
.head .content h1 {
  font-weight: 700;
  font-size: 3.2em;
}
.head .content h2 {
  font-size: 3.5em;
  font-weight: 300;
}
