/*!
Author : Eray Soysal
Project Date : Aralık 2016
************************************************/
/*Reset*/
*:focus {
  outline: 0 none;
}
html {
  height: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}
.blue {
  color: #00aeef;
}
.gray {
  color: #4f4f4f;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Merriweather Sans', Arial, helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #4f4f4f;
  background: url(../img/gradient-bg.jpg) no-repeat top center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #f0f1f2;
}
body:before {
  content: ' ';
  display: block;
  width: 100%;
  padding-bottom: 4266px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/border-bg.png) no-repeat;
  background-size: 100%;
}
@media only screen and (max-width: 1417px) {
  body {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1297px) {
  body {
    font-size: 16px;
  }
}
iframe {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
}
p strong {
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
  padding: 0;
}
button {
  margin: 0;
  padding: 0;
  color: inherit;
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
}
button:focus {
  outline: 0;
}
table {
  margin: 0;
  padding: 0;
}
strong {
  font-weight: 400;
}
sup {
  position: relative;
  top: -0.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
  border: 0;
}
footer {
  display: block;
  position: relative;
}
select {
  box-sizing: border-box;
}
main {
  display: block;
  position: relative;
}
.no-transform {
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
}
.tac {
  text-align: center;
}
.full {
  width: 100% !important;
}
/** Helpers **/
.left {
  float: left;
}
.right {
  float: right;
}
.clear:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.clear-left {
  clear: left;
}
.horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.total-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.transform-none {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.no-transform {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
/** Media Query **/
.logo {
  display: inline-block;
}
.logo img {
  width: 324px;
  height: 84px;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
    box-sizing: border-box;
  }
}
.title {
  font-weight: 800;
  display: inline-block;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 6.3%;
}
.section {
  position: relative;
  width: 100%;
  height: 100vh;
}
.section-wrapper {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 2% 0;
  box-sizing: border-box;
  border: 10px solid #00aeef;
}
@media only screen and (max-width: 1417px) {
  .section-wrapper {
    width: 45%;
  }
}
@media only screen and (max-width: 1200px) {
  .section-wrapper {
    width: 90%;
  }
}
.section-wrapper p {
  display: inline-block;
  background: #fff;
  padding: 20px 10px;
  box-sizing: border-box;
  font-size: 0.9em;
}
.section-wrapper .text {
  width: 100%;
  box-sizing: border-box;
}
.section-wrapper .img {
  width: 40%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 20px solid #fff;
  background: #fff;
  padding-bottom: 29.2%;
  box-sizing: border-box;
}
.section-wrapper .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.section-wrapper.left-side-text {
  text-align: left;
}
.section-wrapper.left-side-text > div {
  float: left;
}
.section-wrapper.left-side-text .text {
  margin-left: -10%;
  padding-right: 20%;
}
.section-wrapper.left-side-text .img {
  right: -10%;
}
.section-wrapper.right-side-text {
  text-align: right;
}
.section-wrapper.right-side-text > div {
  float: right;
}
.section-wrapper.right-side-text .text {
  margin-right: -10%;
  padding-left: 20%;
}
.section-wrapper.right-side-text .img {
  left: -10%;
}
.section-wrapper.nbg p,
.section-wrapper.nbg .title {
  background: none;
}
.head {
  width: 100%;
}
.head .section-wrapper {
  padding-top: 15px;
  padding-bottom: 8%;
}
.head img {
  width: 351px;
  margin: 0 auto;
}
.head .content {
  background: #fff;
  width: 120%;
  margin-left: -10%;
}
.head .content h1 {
  font-weight: 700;
  font-size: 3.2em;
}
@media only screen and (max-width: 1417px) {
  .head .content h1 {
    font-size: 3em;
  }
}
.head .content h2 {
  font-size: 3.4em;
  font-weight: 300;
}
@media only screen and (max-width: 1417px) {
  .head .content h2 {
    font-size: 3.2em;
  }
}
.form .form-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
.form .form-wrapper:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.form .title {
  display: block;
  text-align: center;
  background: none;
  padding: 0;
  margin-bottom: 20px;
}
.form .form-elem {
  border-bottom: 2px solid #000;
  box-sizing: border-box;
}
.form .label {
  margin-top: 20px;
  display: block;
  font-weight: 400;
}
.form input {
  width: 100%;
  height: 30px;
  background: none;
  border: 0 none;
  font-weight: 700;
  font-size: 1em;
}
.form .left {
  width: 50%;
}
.form .right {
  width: 40%;
  position: relative;
}
.form .right .file-upload-wrap {
  margin-top: 25%;
}
.form .right .drop-container {
  background: #e2e3e3;
  text-align: center;
  border: 2px dashed #464646;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.form .right .drop-container p {
  display: block;
  color: #575757;
  font-size: 1.2em;
  background: none;
  padding: 0;
}
.form .right .drop-container img {
  display: inline-block;
  width: 90px;
  margin: 20px 0;
}
.form .right a,
.form .right .apply-button {
  display: block;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
}
.form .right .apply-button {
  width: 100%;
  border: 2px solid #464646;
  background: #e2e3e3;
}
.form .right .apply-button:hover,
.form .right .apply-button:active,
.form .right .apply-button:focus {
  border: 2px solid #464646;
  background: #464646;
  color: #e2e3e3;
}
.form .right .underline {
  text-decoration: underline;
}
.form .right .underline:hover,
.form .right .underline:active,
.form .right .underline:focus {
  text-decoration: none;
}
.form .error-message + label {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #f50020;
  margin-bottom: 5px;
}
#dropzone.hover {
  background: lawngreen;
}
